<div class="row blog">
  <div class="col-md-12">
    <div id="blogCarousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#blogCarousel" data-slide-to="1"></li>
      </ol>

      <!-- Carousel items -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="row">


            <div class="col-md-3 well" style="
            height: fit-content;
            ">
              <div class="col-md-12">
                <p>
                </p><h5>Name</h5>
                <span>999</span>
                <span>abc@ga.com</span>
                <p></p>
              </div>
            </div>

            <div class="col-md-3 well" style="
            height: fit-content;
            ">
              <div class="col-md-12">
                <p>
                </p><h5>Name</h5>
                <span>999</span>
                <span>abc@ga.com</span>
                <p></p>
              </div>
            </div>
            <div class="col-md-3 well" style="
            height: fit-content;
            ">
              <div class="col-md-12">
                <p>
                </p><h5>Name</h5>
                <span>999</span>
                <span>abc@ga.com</span>
                <p></p>
              </div>
            </div>
            <div class="col-md-3 well" style="
            height: fit-content;
            ">
              <div class="col-md-12">
                <p>
                </p><h5>Name</h5>
                <span>999</span>
                <span>abc@ga.com</span>
                <p></p>
              </div>
            </div>
            <div class="col-md-3 well" style="
            height: fit-content;
            ">
              <div class="col-md-12">
                <p>
                </p><h5>AAA</h5>
                <span>999</span>
                <span>abc@ga.com</span>
                <p></p>
              </div>
            </div>
          </div>
          <!--.row-->
        </div>
        <div class="carousel-item">
          <div class="row">


            <div class="col-md-3 well" style="
            height: fit-content;
            ">
              <div class="col-md-12">
                <p>
                </p><h5>Name</h5>
                <span>999</span>
                <span>abc@ga.com</span>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <!--.item-->



      </div>
      <!--.carousel-inner-->
    </div>
    <!--.Carousel-->

  </div>
</div>